<header th:fragment="search">
<div class="modal fade" id="myconfirm" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticWarningLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticWarningLabel">Warning</h1>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Are you sure want to delete <span id="course-txt" class="span-txt">course</span>?<br/>
                If you click delete, this <i>cannot be undone</i>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-danger delete-button">Delete</a>
            </div>
        </div>
    </div>
</div>

<script>
    let myConfirmDialog = document.getElementById('myconfirm')
    myConfirmDialog.addEventListener('show.bs.modal', function (event){
        let button = event.relatedTarget
        let link = button.getAttribute('data-bs-link')
        let cid = button.getAttribute('data-bs-id')
        let text = button.getAttribute('data-bs-text')
        let modalTitle = myConfirmDialog.querySelector('.modal-title')
        modalTitle.textContent = 'Delete: ' + text + ' (' + cid + ')'
        let deleteButton = myConfirmDialog.querySelector('.delete-button')
        deleteButton.setAttribute('href', link)
        let course = document.getElementById('course-txt')
        course.textContent = text
    })
</script>
</header>
```