<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Rentals</title>
    <link th:replace="~{fragments/bootstrap :: bootstrap}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/success-toaster :: success-toaster}"></div>

<div class="container">
    <div id="main_part_content">
        <h1>
            <span th:text="${table_caption}" th:remove="tag">title</span>
        </h1>
        <a th:href="@{/check-in}" class="btn btn-info mb-3">Add rental</a>
        <table class="table table-striped table-bordered">
            <thead>
            <tr >
                <th scope="col" style="text-align: center">ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Passport</th>
                <th scope="col">Room</th>
                <th scope="col">Check in</th>
                <th scope="col">Check out</th>
                <th scope="col">Price</th>
                <th scope="col" style="text-align: center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r : ${rentals}">
                <td th:text="${r.id}" style="text-align: center"></td>
                <td th:text="${r.guest.firstName}"></td>
                <td th:text="${r.guest.lastName}"></td>
                <td th:text="${r.guest.passport}"></td>
                <td th:text="${r.room.roomNumber}" ></td>
                <td th:text="${#temporals.format(r.checkInDate, 'dd-MM-yyyy')}"></td>
                <td th:text="${#temporals.format(r.checkOutDate, 'dd-MM-yyyy')}"></td>
                <td th:text="${r.totalPrice}"></td>
                <td style="text-align: center">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editRentalModal"
                            th:attr="data-id=${r.id}, data-check-in-date=${r.checkInDate},
                            data-check-out-date=${r.checkOutDate}, data-total-price=${r.totalPrice}">
                        Edit
                    </button>
                    <button type="button" class="btn btn-sm" style="background-color: mediumseagreen; color: white" data-toggle="modal" data-target="#myconfirm"
                            th:attr="data-id=${r.id}, data-check-in-date=${r.checkInDate},
                            data-check-out-date=${r.checkOutDate}, data-total-price=${r.totalPrice}">
                        Check out
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Pagination" th:if="${totalPages > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${url}, 1, '<<', 'First Page')}"></a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${url}, ${currentPage}, 'Prev', 'Previous Page')}"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item" th:classappend="${page - 1 == currentPage} ? 'active'"
                    th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                    <a th:replace="~{fragments/paging :: paging(${url}, ${page}, ${page}, 'Page ' + ${page})}"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${url}, ${currentPage + 2},'Next', 'Next Page')}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${url}, ${totalPages}, '>>', 'Last Page')}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="modal fade" id="editRentalModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Rental</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <div class="form-group">
                        <label for="checkInDate">Check In Date</label>
                        <input type="date" class="form-control" id="checkInDate" disabled>
                    </div>
                    <div class="form-group">
                        <label for="checkOutDate">Check Out Date</label>
                        <input type="date" class="form-control" id="checkOutDate" required>
                        <span id="checkOutDateError" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button type="reset" class="btn btn-secondary mr-2" data-dismiss="modal" id="closeBtnEdit"
                                style="width: 150px">Close
                        </button>
                        <button type="submit" class="btn btn-primary" id='editRental' style="width: 150px">Edit rental
                        </button>
                    </div>
                    <span id="errorContainer" class="text-danger" style="padding-top: 10px"></span>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    let rentalId = null;
    let oldDate = null;
    let oldPrice = null;
    $(document).ready(function () {
        $('#editRentalModal').on('show.bs.modal', function (event) {
            console.log('Modal opened');
            const button = $(event.relatedTarget);
            rentalId = button.data('id');
            let checkInDate = button.data('check-in-date');
            let checkOutDate = button.data('check-out-date');
            oldDate = button.data('check-out-date');
            oldPrice = button.data('total-price')

            const modal = $(this);
            const form = modal.find('form');
            form.find('#checkInDate').val(checkInDate);
            form.find('#checkOutDate').val(checkOutDate);
        });
    });

    const errorContainer = document.getElementById('errorContainer');
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('editForm');
        const closeButton = document.getElementById('closeBtnEdit');

        form.addEventListener('submit', async function (event) {
            event.preventDefault();

            const formData = {
                id: rentalId,
                checkOutDate: form.elements.checkOutDate.value
            };
            if (validateDate()) {
                clearError('checkOutDateError');
                await processRequest('PUT', `/api/rentals/${rentalId}`, formData);
            }
        });

        closeButton.addEventListener('click', function () {
            errorContainer.style.display = 'none';
            form.reset();
        });
    });

    async function processRequest(method, url, data) {
        const response = await fetch(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
        try {
            const responseJson = await response.json();
            if (responseJson['errors']) {
                console.log('Error submitting form:', response);
                displayErrorMessageEdit(responseJson['errors']);
            } else {
                const form = document.getElementById('editForm');
                form.reset();
                $('#editRentalModal').modal('hide');
                errorContainer.textContent = '';
                console.log('Edit form submitted successfully')
                location.href = '/rental/check-update/' + responseJson['id'] + '?oldDate=' + oldDate + '&oldPrice=' + oldPrice;
            }
        } catch (e) {
            console.error('Error submitting form:', e);
            displayErrorMessageEdit('Network Error');
        }
    }

    function displayErrorMessageEdit(message) {
        const errorContainer = document.getElementById('errorContainer');
        errorContainer.textContent = message;
        errorContainer.style.color = 'red';
        errorContainer.style.display = 'block';
    }

    function validateDate() {
        let isValid = true;
        let checkOutDate = new Date(document.getElementById('checkOutDate').value);
        let today = new Date();

        if (!document.getElementById('checkOutDate').value) {
            showError('errorContainer', 'Please select end date');
            isValid = false;
        }
        if (checkOutDate <= today) {
            showError('errorContainer', 'End date must be greater than today');
            isValid = false;
        }
        return isValid;
    }
</script>


<div class="modal fade" id="myconfirm" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticWarningLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Check out</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    Are you sure want to check out <span id="course-txt" class="span-txt">guest</span>?<br/>
                    If you click Ok, this <i>cannot be undone</i>.
                </div>
                <div class="text-center" style="margin-top: 30px">
                    <button type="reset" class="btn btn-secondary mr-2" data-dismiss="modal" id="closeBtn"
                            style="width: 150px">Close
                    </button>
                    <button type="submit" class="btn btn-danger delete-button" id="deleteBtn" style="width: 150px">
                        Check out
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#myconfirm').on('show.bs.modal', function (event) {
            console.log('Modal opened');
            const button = $(event.relatedTarget);
            rentalId = button.data('id');
            oldDate = button.data('check-out-date');
            oldPrice = button.data('total-price');
        });
    });

    const deleteButton = document.getElementById('deleteBtn');
    deleteButton.addEventListener('click', async function () {
        const currentDate = new Date().toISOString().split('T')[0];
        if (oldDate !== currentDate) {
            const formData = {
                id: rentalId,
                checkOutDate: currentDate
            };
            const response = await fetch(`/api/rentals/${rentalId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });
            const responseJson = await response.json();
            if (responseJson['errors']) {
                console.log('Error updating rental:', response);
                return;
                // displayErrorMessage(responseJson['errors']);
            } else {
                console.log('Rental updated successfully');
                location.href = '/rental/check-update/' + rentalId + '?oldDate=' + oldDate + '&oldPrice=' + oldPrice;
            }
        }
        await processCheckOutRequest('PUT', `/api/rentals/check-out/${rentalId}`);
    });

    async function processCheckOutRequest(method, url) {
        const response = await fetch(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json'
            }
        });
        try {
            const checkOutResponseJson = await response.json();
            if (checkOutResponseJson['errors']) {
                console.log('Error checking out guest:', checkOutResponseJson);
            } else {
                $('#myconfirm').modal('hide');
                console.log('Guest checked out successfully');
                showSuccessMessage(`Guest checked out successfully`);
                setTimeout(() => location.reload(), 3100);
            }
        } catch (e) {
            console.log('Error deleting guest');
            //  console.error('Error deleting guest');
        }
    }
</script>


<script th:src="@{/scripts/errors.js}"></script>
</body>
</html>