<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guests</title>
  <link th:replace="~{fragments/bootstrap :: bootstrap}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/success-toaster :: success-toaster}"></div>

<div class="container">
  <div id="main_part_content">
    <!--        <h1>Guests</h1>-->
    <h1>
      <span th:text="${table_caption}" th:remove="tag">title</span>
    </h1>
    <a th:href="@{/hotel-guests/current}" class="btn btn-info mb-3" onclick="showCurrentGuests()">Current Guests</a>
    <a th:href="@{/hotel-guests}" class="btn btn-info mb-3" onclick="showAllGuests()">All Guests</a>
    <a th:href="@{/guests/add}" class="btn btn-success mb-3">Add guest</a>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone number</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="g : ${guests}">
        <td th:text="${g.id}"></td>
        <td th:text="${g.firstName}"></td>
        <td th:text="${g.lastName}"></td>
        <td th:text="${g.email}"></td>
        <td th:text="${g.phoneNumber}"></td>
        <td>
          <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editModal"
                  th:attr="data-id=${g.id}, data-firstName=${g.firstName}, data-lastName=${g.lastName},
                            data-email=${g.email}, data-phoneNumber=${g.phoneNumber}, data-passport=${g.passport}">
            Edit
          </button>
          <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myconfirm"
                  th:attr="data-id=${g.id}">
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="Pagination" th:if="${totalPages > 0}">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
          <a th:replace="~{fragments/paging-current :: paging(1, '<<', 'First Page')}"></a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${currentPage == 0} ? 'disabled'">
          <a th:replace="~{fragments/paging-current :: paging(${currentPage}, 'Prev', 'Previous Page')}"></a>
        </li>
        <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
          <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item" th:classappend="${page - 1 == currentPage} ? 'active'"
            th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
          <a th:replace="~{fragments/paging-current :: paging(${page}, ${page}, 'Page ' + ${page})}"></a>
        </li>
        <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
          <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
          <a th:replace="~{fragments/paging-current :: paging(${currentPage + 2},'Next', 'Next Page')}"></a>
        </li>
        <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
          <a th:replace="~{fragments/paging-current :: paging(${totalPages}, '>>', 'Last Page')}"></a>
        </li>
      </ul>
    </nav>

  </div>
</div>

<!-- Edit Guest Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Guest</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editForm">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" required>
          </div>
          <div class="form-group">
            <label for="passport">Passport</label>
            <input type="text" class="form-control" id="passport" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" required>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <input type="text" class="form-control" id="phoneNumber" required>
          </div>
          <div class="text-center">
            <button type="reset" class="btn btn-secondary mr-2" data-dismiss="modal" id="closeBtn"
                    style="width: 150px">Close
            </button>
            <button type="submit" class="btn btn-primary" id='editGuest' style="width: 150px">Edit guest
            </button>
          </div>
        </form>
        <div id="errorContainer" style="display: none; padding-top: 10px">
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let currentGuestId = null;
  $(document).ready(function () {
    $('#editModal').on('show.bs.modal', function (event) {
      console.log('Modal opened');
      const button = $(event.relatedTarget);
      currentGuestId = button.data('id');
      const firstName = button.data('firstname');
      const lastName = button.data('lastname');
      const passport = button.data('passport');
      const email = button.data('email');
      const phoneNumber = button.data('phonenumber');

      const modal = $(this);
      const form = modal.find('form');
      form.find('#firstName').val(firstName);
      form.find('#lastName').val(lastName);
      form.find('#passport').val(passport);
      form.find('#email').val(email);
      form.find('#phoneNumber').val(phoneNumber);
    });
  });

  const errorContainer = document.getElementById('errorContainer');
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('editForm');
    const closeButton = document.getElementById('closeBtn');

    form.addEventListener('submit', async function (event) {
      event.preventDefault();

      const formData = {
        id: currentGuestId,
        firstName: form.elements.firstName.value,
        lastName: form.elements.lastName.value,
        phoneNumber: form.elements.phoneNumber.value,
        email: form.elements.email.value,
        passport: form.elements.passport.value
      };

      await processRequest('PUT', `/api/guests/${currentGuestId}`, formData);
    });

    closeButton.addEventListener('click', function () {
      errorContainer.style.display = 'none';
      form.reset();
    });
  });

  async function processRequest(method, url, data) {
    const response = await fetch(url, {
      method: method,
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    });
    try {
      const responseJson = await response.json();
      if (responseJson['errors']) {
        console.error('Error submitting form:', response);
        displayErrorMessage(responseJson['errors']);
      } else {
        const form = document.getElementById('editForm');
        form.reset();
        // showSuccess(`Guest with id ${responseJson['id']} edited successfully`);
        $('#editModal').modal('hide');

        errorContainer.textContent = '';
        console.log('Edit form submitted successfully')
        showSuccessMessage(`Guest edited successfully`)
        setTimeout(() => location.reload(), 3100);
      }
    } catch (e) {
      console.error('Error submitting form:', e);
      displayErrorMessage('Network Error');
    }
  }

  function displayErrorMessage(message) {
    const errorContainer = document.getElementById('errorContainer');
    errorContainer.textContent = message;
    errorContainer.style.color = 'red';
    errorContainer.style.display = 'block';
  }
</script>


<!-- Delete Guest Modal-->
<div class="modal fade" id="myconfirm" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticWarningLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Guest</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Are you sure want to delete <span id="course-txt" class="span-txt">guest</span>?<br/>
          If you click delete, this <i>cannot be undone</i>.
        </div>
        <div class="text-center" style="margin-top: 30px">
          <button type="reset" class="btn btn-secondary mr-2" data-dismiss="modal" id="closeBtn"
                  style="width: 150px">Close
          </button>
          <button type="submit" class="btn btn-danger delete-button" id="deleteBtn" style="width: 150px">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#myconfirm').on('show.bs.modal', function (event) {
      console.log('Modal opened');
      const button = $(event.relatedTarget);
      currentGuestId = button.data('id');
    });
  });

  const deleteButton = document.getElementById('deleteBtn');
  deleteButton.addEventListener('click', async function () {
    await processDeleteRequest('DELETE', `/api/guests/${currentGuestId}`);
  });

  async function processDeleteRequest(method, url) {
    const response = await fetch(url, {
      method: method,
      headers: {
        'Content-Type': 'application/json'
      }
    });
    try {
      if (!response.ok) {
        console.error('Error deleting guest:', response);
        displayErrorMessage(responseJson['errors']);
      } else {
        $('#myconfirm').modal('hide');
        console.log('Guest deleted successfully');
        showSuccessMessage(`Guest deleted successfully`);
        setTimeout(() => location.reload(), 3100);
      }
    } catch (e) {
      console.log('Error deleting guest');
      //  console.error('Error deleting guest');
    }
  }

</script>

</body>
</html>
