<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel management</title>
    <link th:replace="~{fragments/bootstrap :: bootstrap}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container mt-4" style="max-width: 850px">
    <div class="jumbotron">
        <h1>Welcome, Administrator!</h1>
        <p>As an administrator, you have access to various functions to manage the hotel:</p>
        <ul>
            <li><strong>Rooms:</strong> View and the list of rooms.</li>
            <li><strong>Guests:</strong> View and manage guest information, including passport data and check-in/check-out dates.</li>
            <li><strong>Check-In:</strong> Check-in guests, assign rooms.</li>
            <li><strong>Check-Out:</strong> Check-out guests, free up rooms, and issue additional checks if needed.</li>
            <li><strong>Search:</strong> Search for guests using any criteria.</li>
        </ul>
        <p>Use the navigation links above to access these functions.</p>
    </div>
</div>
</body>
</html>