<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel management</title>
    <link th:replace="~{fragments/bootstrap :: bootstrap}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="order-md-1">
                <h4 class="mb-3">Check-in</h4>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newGuestModal">
                    Register New Guest
                </button>
                <!-- Modal -->
                <div class="modal fade" id="newGuestModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New Guest Registration</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="checkInForm" method="post" action="guest/register">
                                    <div class="form-group">
                                        <label for="firstName">First Name</label>
                                        <input type="text" class="form-control" id="firstName" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" class="form-control" id="lastName" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="passport">Passport</label>
                                        <input type="text" class="form-control" id="passport" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNumber">Phone number</label>
                                        <input type="text" class="form-control" id="phoneNumber" required>
                                    </div>
                                    <div class="text-center"> <!-- Center align buttons -->
                                        <button type="reset" class="btn btn-secondary mr-2" data-dismiss="modal" id="closeBtn">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary" id="saveGuestBtn">Save changes
                                        </button>
                                    </div>
                                </form>
                                <div id="errorContainer" style="display: none; padding-top: 10px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('checkInForm');
        const errorContainer = document.getElementById('errorContainer');
        const closeButton = document.getElementById('closeBtn');

        form.addEventListener('submit', async function (event) {
            event.preventDefault();

            const formData = {
                firstName: form.elements.firstName.value,
                lastName: form.elements.lastName.value,
                phoneNumber: form.elements.phoneNumber.value,
                email: form.elements.email.value,
                passport: form.elements.passport.value
            };

            await processRequest('POST', '/guest', formData);
        });

        closeButton.addEventListener('click', function () {
            errorContainer.style.display = 'none';
            form.reset();
        });
    });

    async function processRequest(method, url, data) {
        const response = await fetch(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
        try {
            const responseJson = await response.json();
            if (responseJson['errors']) {
                console.error('Error submitting form:', response);
                displayErrorMessage(responseJson['errors']);
            } else {
                const form = document.getElementById('checkInForm');
                form.reset();
                showSuccess(`Guest with id ${responseJson['id']} created successfully`);
                console.log('Form submitted successfully');
            }
        } catch (e) {
            console.error('Error submitting form:', e);
            displayErrorMessage('Network Error');
        }
    }

    function displayErrorMessage(message) {
        const errorContainer = document.getElementById('errorContainer');
        errorContainer.textContent = message;
        errorContainer.style.color = 'red';
        errorContainer.style.display = 'block';
    }

    function showSuccess(message) {
        const errorContainer = document.getElementById('errorContainer');
        errorContainer.textContent = message;
        errorContainer.style.color = 'green';
        errorContainer.style.display = 'block';
    }
</script>
</body>
</html>
